.container{
    width: 800px;
    height: 400px;
    margin: 0 auto;
    background-color: silver;
    display: flex;
    align-items: center;
}

.col{
    background-color: blanchedalmond;
    padding: 10px;
    width: 33%;
    border: 3px solid rebeccapurple;
    border-radius: 5px;
}

.col p{
    font-size: 1.2rem;
}