button{
    background-color: whitesmoke;
    color: teal;
    border: 2px solid teal;
    border-radius: 50px;
    height: 40px;
    width: 200px;
    margin: 10px;
    font-weight: bold;
    font-family:'Gill Sans';
    font-size: large;
}

.add{
    background-color: turquoise;
    color: white;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 30px;
}

#create{
    background-color: dodgerblue;
    color: white;
    border: 3px solid black;
    border-radius: 0;
    width: 300px;
    height: 50px;
    box-shadow: 5px 5px 0px black;
}