* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.nav {
    background-color: lightseagreen;
    border-bottom: 3px solid black;
}

.navbar {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navTitle {
    width: 1000px;
    display: flex;
    flex: 1;
    margin: 0 auto;
    color: white;
    font-size: 1.2rem;
    text-shadow: 2px 2px 2px black;
}

.mIcon {
    height: 45px;
}

.navLinks {
    width: 1000px;
    display: flex;
    flex: 2;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    text-shadow: none;
    font-size: 1.4rem;
}

.nav a {
    color: black;
    text-decoration: none;
    padding-right: 20px;
}

.dono {
    background-color: white;
    color: rebeccapurple;
    height: 30px;
    width: 100px;
    border: 2px solid rebeccapurple;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
}

.searchText {
    color: white;
    margin: 0 auto;
    width: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
}

.searchText p {
    padding-right: 250px;
}

.searchInput {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.srchImg {
    margin: 0 auto;
    height: 35px;
    display: inline-flex;
    align-items: baseline;
}

#petType,
#loc {
    height: 40px;
    width: 200px;
    margin-bottom: 20px;
    align-items: center;
}

.find {
    display: flex;
    background-color: rebeccapurple;
    border: 2px solid black;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    color: white;
    box-shadow: 3px 3px 3px black;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

.pets {
    margin: 0 auto;
    width: 1000px;
}

.petInfo {
    margin-top: 20px;
    display: flex;
    background-color: lightgray;
    color: black;
    height: 140px;
    border: none;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
}

.petDesc {
    width: 50%;
}

#petImg {
    position: relative;
    height: 100px;
}

.petDesc h2 {
    margin-top: 0 auto;
    font-size: 2rem;
}

.petDesc p {
    font-size: 1.2rem;
}

#count1,
#count2,
#count3 {
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 40px;
}

.petBtn {
    height: 30px;
    width: 240px;
    background-color: darkturquoise;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
}